/**
 * + Basics
 * =====================================================================
 */

html
    box-sizing border-box

body
    @extends $text-normal
    color #000
    background #fff

*,
h1, figure, fieldset // overwrite normalize.css
    -webkit-font-smoothing antialiased
    margin 0
    padding 0

*,
*::before,
*::after
    box-sizing inherit

a
    color color-link
    text-decoration none

    &:hover
        color color-link-active

/* = Basics */

