

font-size-normal                = 16px
font-size-small                 = 12px // ~ normal * 0.75
font-size-large                 = 24px // ~ normal * 1.5

line-height-normal              = 1.42857 // ~ 20/14
line-height-normal              = 1.21428 // ~ 20/14 * 0.85
line-height-large               = 1.78571 // ~ 20/14 * 1.25
font-stack-primary      = "Open Sans", sans-serif
font-stack-monospace    = "Source Code Pro", monospace
