/**
 * + Colors
 * =====================================================================
 */

// color vars by values
color-hotpink           = #fe57a1
color-tooltip           = #ffc
color-blueprint         = #3176c4
color-bluejeans         = #356AA0

color-success           = #5cb85c
color-info              = #5bc0de
color-warning           = #f0ad4e
color-danger            = #d9534f

// color vars by usecases
color-foreground        = #202830
color-background        = #ffffff

color-highlight         = color-hotpink

color-link              = color-blueprint
color-link-active       = darken( color-link, 30% )

/* = Colors */


/**
 * + Typo
 * =====================================================================
 */

font-stack-primary      = "Open Sans", sans-serif
font-stack-monospace    = "Source Code Pro", monospace

font-size-normal        = 16px
font-size-small         = 12px // ~ normal * 0.75
font-size-large         = 24px // ~ normal * 1.5

line-height-normal      = 1.42857 // ~ 20/14
line-height-small       = 1.21428 // ~ 20/14 * 0.85
line-height-large       = 1.78571 // ~ 20/14 * 1.25

spacing-normal          = font-size-normal
spacing-small           = spacing-normal * 0.5
spacing-large           = spacing-normal * 2

/* = Typo */

